$text-color: #a34449;

.contato {
  div {
    display: flex;
    align-items: center;
  }
  img {
    padding-right: 20px;
  }
  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  i {
    font-size: 1.7rem;
    padding-right: 15px;
    color: $text-color;
  }
}

@media (min-width:768px) {
  .contato{
    div{
      justify-content: center;
    }
  }
}
